<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<p>Welcome to <h3><span th:text="${appName}">Our App</span></h3></p>
<ul>
    <li><a href="hello" />/hello</a></li>
    <li><a href="error" />/error</a></li>
    <li><a href="auth" />/auth</a> - post an api-key and json with creds, you'll get back a token</li>
    <li><a href="authorizedHello" />/authorizedHello</a> - post an api-key and json with creds, you'll get back a token</li>

</ul>

</body>
</html>